body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-user-search {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-user-search .form-user-search-heading,
.form-user-search .checkbox {
  margin-bottom: 10px;
}
.form-user-search .checkbox {
  font-weight: normal;
}
.form-user-search .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-user-search .form-control:focus {
  z-index: 2;
}
