<!DOCTYPE html>
    <html lang="en">

    <head>
      <title>Python Flask App - Unified social profiles</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="{{url_for('static', filename='search.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--Plotly.js-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!--Dropdwon button-->
    <script>

    function updateResults(){
      $.post('analytics', $("#aliaSelect").serialize(),
      function(response) {
    $("#place_for_results").html(response);
    }).fail(function(error) {
          console.log(error);
    });
    }

    </script>
    </head>

    <body>

      <div class="container">
        <div class="header">
          <nav>
            <ul class="nav nav-pills pull-right">
              <li role="presentation"><a href="/">Home</a>
              </li>
              <li role="presentation"><a href="/alias">Aliases</a>
              </li>
              <li role="presentation"><a href="/users">Users</a>
              </li>
              <li role="presentation" ><a href="/analytics">Posts/Tweets</a>
              </li>
              <li role="presentation" class="active"><a href="/hashtags">Hashtags</a>
              </li>
            </ul>
          </nav>
        </div>
        <h3 class="text-muted">Python Flask App</h3>
      </div>
      <div class="jumbotron">
        <h1>Plot ananlytics for:</h1>
          <form class="form-user-search">
            <select onchange="updateResults()" class="form-control form-control-lg" name="aid" id="aliaSelect" autofocus>
            {% for item in items %}
            <option value="{{ item[1:3] }}">{{ item[0] }}</option>
            {% endfor %}
          </select>

          </form>
      </div>

<div id="place_for_results"></div>


      <footer class="footer">
          <p>&copy; 2020, backend: BPa - frontend:JAx</p>
      </footer>

    </div>
    </body>

    </html>
